<!DOCTYPE html>
<html>
    <head>
        <title>TEMPLATE</title>
        <!-- recommended to avoid security warnings with SVG in IE8 -->
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <!-- styles -->
    </head>
    <body>
      {% block content %}{% endblock %}
    </body>
</html>
